@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<EpicBookstore.Models.ItemModel>

<h1>Discover</h1>

<div class="book-grid">
    @if (Model != null)
    {
        @foreach (var book in Model)
        {
            <div>
                <div class="book-tile" onclick="window.location.href='@Url.Action("Details", "Item", new { id = book.Id })'">
                    <img src="@book.CoverImageUrl" alt="@book.Name">
                    <h2>@book.Name</h2>
                    <p class="author">By @book.Author</p>
                    <p class="price">@book.Price.ToString("C")</p>
                </div>
                <div class="tile-btn-container">
                    <form asp-controller="Cart" asp-action="AddToCart" asp-route-id="@book.Id" method="post">
                        <button type="submit" class="tile-btn">
                            <i class='bx bxs-cart-add bx-sm'></i>
                        </button>
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <p>We dont have books.</p>
        <d>
            <button asp-action="Create">Add a new book</button>
        </d>
    }
</div>

@*For Icons*@
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<style>
    .book-grid {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: left;
    }

    .book-tile {
        width: 200px;
        height: 400px;
        margin: 10px;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 10px;
        transition: transform 0.3s ease;
    }

        .book-tile img {
            width: 100%;
            height: auto;
        }

        .book-tile h2 {
            font-size: 25px;
            justify-content: center;
            margin-bottom: 1px;
        }

        .book-tile:hover {
            transform: scale(1.05);
        }

    .tile-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 10px;
    }

    .tile-btn {
        padding: 10px 30px;
        font-size: 14px;
        background: rgb(121, 191, 67);
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

        .tile-btn:hover {
            transform: scale(1.05);
        }

    .author {
        margin-bottom: 0px;
    }

    .price {
        margin-top: 0px;
        color: red;
        text-align: center;
        font-size: 25px;
    }

</style>